.background 
{
	background-color: rgb(34,38,41);
} 
.title
{
	position: relative;
	text-align: right;
	color: rgb(52,91,44);
}
.title-img
{
	display: block;
	margin-top: 20px; 
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	
}
.title-center
{
	position: absolute;
	font-size: 100px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	text-shadow: 5px 5px 8px rgb(134,194,50);
	top: 20%;
	transform: translate(-5%, -50%);
}
.title-line
{
	border-top: 5px dotted rgb(52,91,44);
	width: 35%;
	margin-left: auto;
	top: 30%;
	transform: translate(-15%, -10400%);
}
.title-text
{
	position: absolute;
	font-family: 'Garamond';
	font-size: 50px;
	text-align: center;
	margin-left: 66%;
	top: 40%;
	transform: translate(-15%);
}
.font
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 30px; 
	color: rgb(240,240,240);
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.li-title
{
	display: block;
	color: rgb(134,194,50);
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	float: left;
}
.li
{
	float: right;
}
.li-font
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 24px;
}
li a {
  display: block;
  color: rgb(134,194,50);
  text-align: center;
  padding: 14px 11px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(71,75,79);
}
.font-footer
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 20px; 
	color: rgb(134,194,50);
}
.li-footer
{
	display: block;
	color: rgb(134,194,50);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: center;
}