input,textarea
{
	outline: none;
	border: none;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.container-query{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact3
{
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 65px 55px;
}
.contact3-form {
  width: 100%;
}
.contact3-form-title {
  	display: block;
  	font-family: 'Quicksand';
	font-weight: 700;
  	font-size: 39px;
  	color: #fff;
  	line-height: 1.2;
  	text-align: center;
  	text-transform: uppercase;
  	padding-bottom: 70px;
}
.wrap-input3 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 27px;
}

.input3 
{
	display: block;
	width: 100%;
	background: transparent;
	font-family: 'Quicksand';
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	padding: 0 5px;
}
::placeholder{
	font-weight: 500;
	color: rgb(134,194,50);
}
.focus-input3 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.focus-input3::before {
	content: "";
  	display: block;
  	position: absolute;
  	bottom: -2px;
  	left: 0;
  	width: 0;
  	height: 2px;
	transition: all 0.4s;
 	background: rgb(134,194,50);
}
input.input3 {
  	height: 45px;
}
textarea.input3 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.input3:focus + .focus-input3::before {
  width: 100%;
}

.has-val.input3 + .focus-input3::before {
  width: 100%;
}
.container-contact3-form-btn {
  padding-top: 23px;
}
.contact3-form-btn {
  font-family: 'Quicksand';
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  min-width: 120px;
  height: 50px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  background: rgb(134,194,50);
  transition: all 0.4s;
}

.contact3-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(240,240,240);
  opacity: 1;
}

.contact3-form-btn:hover {
  color: rgb(240,240,240);
}

.contact3-form-btn:hover:before {
  opacity: 0;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
.error
{
	color:red;
	font-family: 'Quicksand';
	font-weight: 500;
}